<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.samue.login">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- WebRTC Dependencies -->
    <!--
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <!--
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> -->
    <!-- PubNub Dependencies -->
    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="your.package.name.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="your.package.name.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".friendsgroup"></activity>
        <activity
            android:name=".UsersSharedWithActivity"
            android:label="@string/users_shared_with_title"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".SharedFoldersActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".DownloadManagerActivity"
            android:label="@string/title_activity_download_manager"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".BlockedUsersActivity"
            android:label="@string/title_activity_blocked_users"
            android:theme="@style/NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Signup"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
        <activity
            android:name=".Profile"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".CreateName"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".Recursos"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".ArchiveExplorer"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>

        <service
            android:name=".DownloadService"
            android:directBootAware="true"
            android:exported="false" />
    </application>

</manifest>
